/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/00multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'REMOVE_PROMER' {
        ext.args   = { params.remove_primer_title ? "--title \"$params.remove_primer_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/01renome_primer" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'LIMA' {
        ext.args   = '--isoseq --dump-clips'
        publishDir = [
            path: { "${params.outdir}/01lima" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ3_TAG' {
        //ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/02tag" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ3_REFINE' {
        //ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/03refine" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'EXTRACT_BC' {
        publishDir = [
            path: { "${params.outdir}/04splinker" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BLAST_BLASTN' {
        ext.args = '-outfmt 6 -word_size 6'
        publishDir = [
            path: { "${params.outdir}/04splinker" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_BLASTN' {
        publishDir = [
            path: { "${params.outdir}/04splinker" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CORRECT_BC' {
        publishDir = [
            path: { "${params.outdir}/04splinker" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_BC' {
        publishDir = [
            path: { "${params.outdir}/05groupdedup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ3_DEDUP' {
        //ext.args   = '--max-tag-mismatches 1 --max-tag-shift 0'
        publishDir = [
            path: { "${params.outdir}/05groupdedup" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PBMM2' {
        ext.args = '--sort --preset ISOSEQ'
        publishDir = [
            path: { "${params.outdir}/06pbmm2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-ax map-hifi -uf --secondary=no -C5 -R "@RG\tID:pacbio\tSM:bar"'
        publishDir = [
            path: { "${params.outdir}/06minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ISOSEQ3_COLLAPSE' {
        publishDir = [
            path: { "${params.outdir}/07collapse" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PIGEON_SORT' {
        publishDir = [
            path: { "${params.outdir}/07collapse" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
